<div class="row">
  <h1>All our flats (<%= @flats.count %>)</h1>
</div>

<div class="row">
    <% @flats.each do |flat| %>
      <div class="col-4">
        <div class="border shadow mx-1 my-3">
          <img src='<%= flat.picture %>'>
          <div class="bg-light p-4">
            <h4><%= flat.name %></h4>
            <p><%= flat.address %></p>
            <div class="d-flex justify-content-between">
              <p><i class="fas fa-user-friends px-2"></i><%= flat.number_of_guests %></p>
              <p><i class="fas fa-euro-sign px-2"></i><%= flat.price_per_night %></p>
            </div>
          </div>
          <div class="border-top p-4">
            <%= link_to "More info", flat_path(flat) %>
          </div>
        </div>
      </div>
    <% end %>
</div>


